@tailwind base;
@tailwind components;
@tailwind utilities;

.status-view{
    @apply flex fixed w-24 h-10 rounded-full border font-sans shadow-[0px_0px_10px] shadow-[#00000056] bottom-0 right-0 m-4;
}
.status-body{
    @apply flex m-auto font-extrabold;
}
.login-with-google-btn {
  @apply bg-white bg-no-repeat focus:shadow-[0_-1px_0_rgba(0,_0,_0,_0.04),_0_2px_4px_rgba(0,_0,_0,_0.25),_0_0_0_3px_#c8dafc] focus:outline-none active:bg-[#eeeeee] hover:shadow-[0_-1px_0_rgba(0,_0,_0,_0.04),_0_2px_4px_rgba(0,_0,_0,_0.25)] p-[12px_16px_12px_42px] border-none rounded-[3px] shadow-[0_-1px_0_rgba(0,_0,_0,_0.04),_0_1px_1px_rgba(0,_0,_0,_0.25)] text-gray-600 text-[14px] font-semibold;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-position: 12px 11px;
  }